.CarrouselIContent {
    color: rgba(0, 28, 73, 0.69);
    text-align: justify;
    height: 450px;
    width: 100%;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 30% opacidad */
    border-radius: 25px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: oblique;
}

.Calendario{
    height: 530px;
    width: 45%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 4.5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.Carrousel{
    margin-left: 3%;
    margin-top: 12%;
    height: 450px;
    width: 45%;
}

@media (max-width: 768px){
    .Calendario{
        width: 95%;
        font-size: 0.7rem;
    }
    .Carrousel{
        width: 100%;
        margin-top: 40%;
        height: auto;
        font-size: 0.5rem;
    }
    .CarrouselIContent{
        height: auto;
        font-size: 0.5rem;
    }
}

@media (max-width: 480px) {
    .Calendario{
        width: 100%;
        margin-top: 3%;
        padding: 15px;
    }
}

